<div class="header">

    <nav>
        <ul>
            <img [src]="taglinelogo">
            <li><a >{{headernav[0]}}</a></li>
               <li><a >{{headernav[1]}}</a></li> 
                <li><a >{{headernav[2]}}</a></li>
                <li><a>{{headernav[3]}}</a></li>
                <li><a>{{headernav[4]}}</a></li>
            
                
            <div class="btnget">

    <button [routerLink]="'blog'" [type]="btnHeaderType" style="display: flex; justify-content: end;">{{getquote}}</button>
            </div>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
